@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Roboto:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Golos Text', sans-serif;
    font-size: 10px;
    height: 100vh;
    width: 100%;
}
.main .navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
}
.main{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}
.main .navbar img{
    height: 45px;
}
.navbar .btn{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0 15px;
    height: 37px;
    font-size:1.5rem ;
    border: none;
    outline: none;
}
.navbar a{
    color: wheat;
    text-decoration: none;
}

.main .content{
    text-align: center;
    margin-top: 150px;
    
}
.main .content h1{
   font-size: 4.2rem;
   color: white;
}
.main .content p:nth-child(2){
    font-size: 2.3rem;
    color: white;
    margin: 20px 0;
}
.main .content p:nth-child(3){
    font-size: 1.7rem;
    color: white;
    margin: 30px 0;
}
.main .content input,.sixth .search input{
    padding: 10px;
    width: 50rem;
    margin-bottom: 100px;
    height: 60px;
    display: inline;
    border: none;
    outline: none;
}
.main .content .btn2,.sixth .search .btn2{
    padding: 5px 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    height: 60px;
    display: inline;
    position: relative;
    left: -3px;
    cursor: pointer;
    background-color: red;
    color: wheat;
    font-size: 1.9rem;
    top: 2px;
}
.main .content ::placeholder{
    font-size: 1.5rem;
}

.second{
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    background-color: black;
    align-items: center;

}
.second .content{
    margin-left: 40px;
    
}
.second img{
    height: 400px;
}
.second .content h1{
    font-size: 4rem;
    color: white;
}
.second .content .para{
    font-size: 2.5rem;
    color: white;
    margin: 25px 0;
}

.third{
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    padding: 5px 15px;
}
.third .content h1{
    font-size: 4rem;
    color: white;
}
.third .content .para{
    font-size: 2.5rem;
    margin: 25px 0;
    color: white;
}

.fourth{
    background-color: black;
    height: 250px;
    color: white;
    
}
.fourth .content{
    padding: 40px 100px;
}

.fourth h1{
    font-size: 4rem;
    
}
.fourth .para{
    font-size: 2.5rem;
   margin: 20px 0;
}

.fifth{
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
    background-color: black;
    color: white;
    align-items: center;
    
}
.fifth img{
    height: 400px;
}
.fifth h1{
    font-size: 4rem;
}
.fifth .para{
    font-size: 2.5rem;
    margin: 20px 0;
}

.sixth{
    background-color: black;
    padding-bottom: 40px;
}

.sixth h1{
    text-align: center;
    font-size: 4.5rem;
    color: white;
    margin-bottom: 60px;
    padding-top: 80px;
}
.sixth .question{
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.sixth .qn p{
    width: 80rem;
    height: 7rem;
    cursor: pointer;
    display: flex;
    padding: 0 40px;
    background-color: #303030;
    color: white;
    margin: -15px 0;
    align-items: center;
    font-size: 2.5rem;
}

.sixth .qn i{
    color: white;
    
    font-size: 4rem;
    position: relative;
    left: 94%;
    top: -36px;
    z-index: 9;
}
.sixth .search p{
    font-size: 1.8rem;
    margin: 40px 0;
    color: white;
    text-align: center;

}

.last .txt{
    display: flex;
    justify-content: space-around;
    color: #9c9999;
    margin: 20px 0;
    padding: 0 200px;
}
.last .txt li{
    list-style: none;
    margin: 20px 0;
    font-size: 1.2rem;
    
}
.last .para{
    
    color:#9c9999;
    margin-left:  262px;
    margin-top: 80px;
    font-size: 1.5rem;
}
.last p{
    font-size: 1.2rem;
    color: #9c9999;
    margin-left:  262px;
    
    
}


.full{
    background: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(Images/bg.jpg);
    background-size: cover;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page{
    height: 100vh;
    padding: 20px;
    
    width: 45rem;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
}
.page input{
    padding: 15px 10px;
    width: 75%;
    margin: 10px 0;
    border-radius: 5px;
}
.page .btn1{
    width: 75%;
    background-color: red;
    color: white;
    padding: 15px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.9rem;
    margin-top: 30px;
}
.page h1{
    font-size: 3.5rem;
    margin-left: -190px;
    margin-bottom: 23px;
}
.page .check{
    position: relative;
    right: 140px;
}
.page .rem{
    display: inline;
    position: relative;
    bottom: 26px;
    right: 75px;
    font-size: 1.5rem;
}
.page .need{
    position: relative;
    bottom: 43px;
    left: 110px;
    font-size: 1.5rem;
    cursor: pointer;
}
.page .new{
    margin-left: 50px;
    font-size: 1.5rem;
}
.page a{
    float: right;
    margin-top: -17px;
    margin-right: 20px;
    font-size: 1.5rem;
    color: white;
}
.page .lpa{
    display: block;
    margin-left: 50px;
    margin-top: 10px;
}
.page .lern{
    margin-top: 1px;
    font-size: 0.9rem;
    margin-right: 60px;
}
.page .text{
    margin-left: -120px;
    margin-top: 40px;
    color: #9c9999;
}
.page a{
    text-decoration: none;
    color: white;
}
